{% extends 'base.html.twig' %}

{% block title %}Novo Veterinário{% endblock %}

{% block body %}
<h1>Adicionar Novo Veterinário</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">Salvar</button>
{{ form_end(form) }}

<a href="{{ path('veterinarios_index') }}" class="btn btn-secondary mt-3">Voltar</a>
{% endblock %}
